!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Alternating Sides
    :css
      body {
        width: 600px;
        margin-left: 100px;
      }

      .main {
        background-color: red;
      }

      .main:nth-child(even) {
        background-color: yellow;
      }

      .main:nth-child(odd) {
        background-color: red;
      }


  %body
    .main
      %div
        WANKER
        WANKER
        WANKER
        WANKER
        WANKER
        WANKER
        WANKER
        WANKER
      %div
        TOSSER
        TOSSER
        TOSSER
        TOSSER
        TOSSER
        TOSSER
        TOSSER
