!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title Background Image
    %link{:href => "image.css", :rel => "stylesheet", :type => "text/css"}/
    :css
      * {
        background-image: url(images/eros.jpg);
      }
  %body
    %div
