!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      body {
        background-color: yellow;
      }

      .box-bg {
        width: 220px;
        height: 220px;
        background-color: blue;
        position: relative;
        z-index: 0;
      } 

      .box {
        width: 100px;
        height: 100px;
        padding: 20px;
        margin: 20px;
        border: solid red;
        border-width: 20px;

        position: absolute;
        z-index: 1;
      }

      .img {
        width: 100px;
        height: 100px;
        background-color: green;
        background-size: 100px 100px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
      }

  %body
    %h1 Margin-Border-Padding-Content
    .box-bg
      .box
        .img
