!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title Image
    :css
      .box {
          width: 100px;
          height: 100px;
          background-image: url('images/eye.png');
      }
  %body
    .box.box1
