!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Li Before After
    :css
      li:before {
        display: inline-block;
        content: "wanker";
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-image: url('./images/eros.jpg');
        border-radius: 10px;
        border: 2px groove grey;
        color: red;
      }

  %body
    %ul
      List
      %li One
      %li Two