!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Not
    :css
      p {
        font-size: 1.5em;
      }

      p:not(.p1) {
        color: blue;
      }

      p:not(.p2) {
        color: red;
      }

      p:not(.p1) span {
        color: green;
      }

      p:not(.p2) span {
        color: purple;
      }

      /* For all links that point outside of the domain of the website, on hover,
      set this style! */
      a[href^="http://"]:not([href^="http://mrrobinsmith.com"]):hover {
        font-weight: bold;
        background-color: red;
      }
  %body
    %h1 Heading 1
    %p.p1
      Section
      %span 1
    %p.p1
      Please go
      %a{:href => "http://wikipedia.org/wanker"} here
      for more information!
    %h2 Heading 2
    %p.p2
      Section
      %span 1.2
    %p.p2
      Please go
      %a{:href => "http://mrrobinsmith.com/awesome"} here
      for more information!
