!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Performance
    :css
      body {
          background-color: darkred;
      }

      .box-row {
          max-width: 1020px;
          text-align: center;
          display: inline-block;
          text-align: left
      }

      .box {
          width: 100px;
          height: 100px;
          text-align: center;
          display: inline-block;
          background-color: black;
          transition: all .8s ease-out;
          overflow: inherit;
      }

      .box:hover {
          width: 0px;
          height: 0px;
      }

      /* This will contain images within box's borders when box shrinks. */
      .contain {
          overflow: hidden;
      }

      /* Default is that images will "spill" outside of box's borders. */
      .spill {
          overflow: inherit;
      }

      /* Use 'media queries' to adjust CSS for specific display conditions (try manually resizing browser) */
      @media (max-width: 700px) {
          body {
              background-color: yellow;
          }
      }
      @media (max-width: 500px) {
          body {
              background-color: blue;
          }
      }
  %body
    .center-global.contain
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
    .center-global.spill
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
    .center-global.contain
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
    .center-global.spill
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
    .center-global.contain
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
    .center-global.spill
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
    .center-global.contain
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
    .center-global.spill
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
      .box
        %img{:src => "images/eye.png"}/
