!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title Pseudo-Class
    :css
      input[type="text"] {
        background-color: #444;
        width: 400px;
        height: 30px;
        color: white;
        font-size: 20px;
        padding-left:0.5em;
      }

      input[type="submit"] {
        background-color: #ebebeb;
        width: 100px;
        height: 30px;
        color: #444;
        text-shadow: 1px 1px grey;
        font-size: 20px;
        padding-left:0.5em;
      }

      /* Pseudo-class: "hover" */
      input[type="submit"]:hover {
        background-color: red;
      }
    :javascript
      function submitted(e) {
        alert(e.textfield.value)
      }
  %body
    %form{:method => "post", :onsubmit => "submitted(this)"}
      %input{:name => "textfield", :type => "text", :value => "Hello Robin!"}/
      %input{:type => "submit", :value => "Submit"}/
