!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Span No Spaces
    :css
      span {
        margin-left: -2px
      }

  %body
    %span
      R
    %span
      o
    %span
      b
    %span
      i
    %span
      n
