!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title Universal Selector
    :css
      * {
      	font-style: oblique;
      }
  %body
    %p Hello World!
