!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Vertical Align
    :css
      div {
        background: red;
        width: 200px;
        height: 200px;
        text-align: center;
        margin-bottom: 20px;
      }

      #one {
        display: table;
      }

      #one span {
        display: table-cell;
        vertical-align: middle;
      }

      #two {
        line-height: 200px;
      }
  %body
    #one
      %span Centered!
    #two
      %span Centered!
