!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Viewport
    :css
      body {
          background-color: #ffff00;
          background-image: linear-gradient(yellow, orange);
      }

      .box-row {
          text-align: center;
          display: inline-block;
          text-align: left;
      }

      .box {
          width: 100px;
          height: 100px;
          text-align: center;
          display: inline-block;
          background-color: black;
          transition: all .8s ease-out;
          background-image: linear-gradient(red, orange);
      }

      .box:hover {
          width: 0px;
          height: 0px;
      }

      /* This will contain images within box's borders when box shrinks. */
      .contain {
          overflow: hidden;
      }

      /* Default is that images will "spill" outside of box's borders. */
      .spill {
          overflow: inherit;
      }
  %body
    .box-row
      .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
    .box
