!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Selection
    :css
      ::selection {
        color: #FFFFFF;
        background-color: #993366;
        font-size: 5em;
      }
  %body
    %p
    %pre
      :preserve
        
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
            Select this text if you dare!
              