!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Blog
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    :css

  %body
    .container
      .row
        .col-md-12.text-center
          %h1 My First Bootstrap Blog
      %hr/
      .row
        .col-md-4
          %h3 Blog Post 1
          %p
            This is my first blog post, this is my first blog post,
            this is my first blog post, this is my first blog post,
            this is my first blog post, this is my first blog post,
            this is my first blog post, this is my first blog post.
        .col-md-4
          %h3 Blog Post 2
          %p
            This is my second blog post, this is my second blog post,
            this is my second blog post, this is my second blog post,
            this is my second blog post, this is my second blog post,
            this is my second blog post, this is my second blog post,
        .col-md-4
          %h3 Blog Post 3
          %p
            This is my third blog post, this my third blog post,
            this my third blog post, this my third blog post,
            this my third blog post, this my third blog post,
            this my third blog post, this my third blog post,
      .row
        .col-md-4
          %h3 Blog Post 4
          %p
            This is my first blog post, this is my first blog post,
            this is my first blog post, this is my first blog post,
            this is my first blog post, this is my first blog post,
            this is my first blog post, this is my first blog post.
        .col-md-4
          %h3 Blog Post 5
          %p
            This is my second blog post, this is my second blog post,
            this is my second blog post, this is my second blog post,
            this is my second blog post, this is my second blog post,
            this is my second blog post, this is my second blog post,
        .col-md-4
          %h3 Blog Post 6
          %p
            This is my third blog post, this my third blog post,
            this my third blog post, this my third blog post,
            this my third blog post, this my third blog post,
            this my third blog post, this my third blog post,
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.js"}
