!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title dropdown
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    :css

  %body
    .container
      .page-header
        %h1 dropdown
      .dropdown
        %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "http://www.google.com"}
          Dropdown
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
      / Glyphicon can be used instead of "caret" class for down-arrow
      .dropdown
        %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "http://www.google.com"}
          Dropdown
          %span.glyphicon.glyphicon-chevron-down
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "js/bootstrap.js"}
