!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title glyphicon
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    :css

  %body
    .container
      .page-header
        %h1 Glyphicon
      %p
        I
        %span.glyphicon.glyphicon-heart
        LA
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.js"}
