!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title thumbnail
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    :css
      .thumbnail {
          width: 200px;
          height: 150px;
      }
  %body
    .container
      / <a href="../images/eros.jpg" class="thumbnail">
      / <img class="thumbnail" src="../images/eros.jpg">
      / </a>
      / <div class="thumbnail">
      / <img src="../images/eros.jpg">
      / <div class="caption">
      / <h3>Microsoft</h3>
      / <p>Lorem ipsum dolor sit amet, consectetur ...</p>
      / <p><a href="#" class="btn btn-primary">Read More</a></p>
      / </div>
      / </div>
      .thumbnail
        %img{:src => "../images/eros.jpg"}/
        .caption
          %h3 Microsoft
          %p Lorem ipsum dolor sit amet, consectetur ...
          %p
            %a.btn.btn-primary{:href => "#"} Read More
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.js"}
